<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      FixIT Application
    </ion-card-header>
    <ion-card-content>
      <p>First-hand reports are important to us. Use this application to record and submit the report.</p>
    </ion-card-content>

    <ion-card-header>
      Procedures
    </ion-card-header>
    <ion-card-content>
      <ul>1. Create a report</ul>
      <ul>2. Write a problem description</ul>
      <ul>3. Scan the QR code</ul>
      <ul>4. Capture a photo</ul>
      <ul>5. Submit the report.</ul>
    </ion-card-content>
  </ion-card>
</ion-content>