<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      FixIT
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right>
    <button ion-fab (click)="addReport()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isReportsAvailable">
    <ion-card>
      <ion-item>
        <h2> No report found!</h2>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="isReportsAvailable">
    <ion-card *ngFor="let report of reports | sortBy:'created'" (click)="reportActionSheet(report)">

      <ion-item>
        <h2> {{ report.title }} </h2>
      </ion-item>
      <img src="http://report.bersepadu.com/uploads/{{ report.photo }}"  />
      <ion-card-content>
        <p> {{ report.description }} </p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
              <p>Created: {{ report.created | date:'short'}}</p>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small *ngIf="report.modified">
              <p>Modified: {{ report.modified | date:'short'}}</p>
            </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
</ion-content>