<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product Verification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-divider>
      Product Details
    </ion-item-divider>
    <ion-item>
      Product Name
      <ion-note item-end>
        Test Product
      </ion-note>
    </ion-item>
    <ion-item>
      Asset Number
      <ion-note item-end>
        {{ scannedText }}
      </ion-note>
    </ion-item>
    <ion-item>
      Location
      <ion-note item-end>
        Depot Subang
      </ion-note>
    </ion-item>
    <ion-item>
      Last Maintenance Date
      <ion-note item-end>
        25/07/2017
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="scanQR()">
        <ion-icon name="barcode"></ion-icon>Scan Code
      </button>
      <button ion-button icon-left (click)="capturePhoto()">
        <ion-icon name="camera"></ion-icon>Capture Photo
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>