<ion-header>
  <ion-navbar>
    <ion-title>Edit Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form #reportForm="ngForm" (ngSubmit)="editReport()" novalidate>
    <ion-fab top right>
      <button ion-fab type="submit" color="danger" [disabled]="reportForm.invalid">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-fab>

    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="report.title" required name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea required #description id="description" name="description" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="report.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Asset Number</ion-label>
        <ion-input type="text" [(ngModel)]="report.assetNumber" required name="assetNumber"></ion-input>
      </ion-item>
      <ion-item>
        <img src="http://report.bersepadu.com/uploads/{{ report.photo }}" />
        <!-- <ion-label floating>Photo</ion-label> -->
        <img src="{{lastImage}}" style="width: 100%" [hidden]="lastImage === null">
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left type="button" (click)="scanQR()">
            <ion-icon name="barcode"></ion-icon>Scan Code
          </button>
      <button ion-button icon-left type="button" (click)="presentActionSheet()">
            <ion-icon name="camera"></ion-icon>Add Photo
          </button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>